@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* font-family: 'VT323', monospace; */

.HeroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 91.4vh;
  /* border: 2px solid #ff2fd2; */
}

.Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  overflow: hidden;
  border: 2px solid #ff2fd2;
}

.HeroImage {
  width: 50%;
  /* padding-right: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(255, 78, 47);
}

.HeroImage img {
  width: 100%;
}

.HeroAllText {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid rgb(61, 47, 255);
}

.HeroZoneText {
  display: flex;
  flex-direction: row;
  /* border: 2px solid rgb(61, 47, 255); */
}

.HeroTextLeft {
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  background-color: #0000003f;
  border-right: 8px solid black;
  transition: 0.5s;
}

.HeroTextLeft:hover {
  background-color: rgba(255, 255, 255, 0.247);
  color: rgb(2, 87, 9); 
}

.HeroTextLeft:hover span {
  color: rgb(0, 0, 0);
}

.HeroTextLeft p {
  font-size: 40px;
  /* color: rgb(2, 87, 9); */
  cursor: default;
  font-family: 'VT323', monospace;
}


.HeroTextRight {
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  background-color: #0000003f;
  transition: 0.5s;
  /* border: 2px solid rgb(252, 255, 47); */
}

.HeroTextRight:hover {
  background-color: rgba(255, 255, 255, 0.247);
  color: rgb(2, 87, 9); 
}

.HeroTextRight:hover span {
  color: rgb(227, 24, 24);
}

.HeroTextRight h3 {
  font-size: 40px;
  cursor: default;
  margin-bottom: 0px;
  font-family: 'VT323', monospace;
}

.HeroTextRight p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  cursor: default;
  font-family: 'VT323', monospace;
}

.HeroTextBottom {
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  transition: 0.5s;
  /* border: 2px solid rgb(47, 248, 255); */
  background-color: #0000003f;
}

.HeroTextBottom:hover {
  background-color: rgba(255, 255, 255, 0.247);
  color: rgb(2, 87, 9); 
}

.HeroTextBottom:hover span {
  color: rgb(227, 24, 24);
}

.HeroTextBottom p {
  font-size: 40px;
  cursor: default;
  font-family: 'VT323', monospace;
}

.ScrollerLeft,
.ScrollerRight,
.ScrollerBottom {
  height: 280px;
  /* width: 530px; */
  overflow-y: scroll;
  scroll-snap-type: mandatory;
}

/* .ScrollerBottom {
  height: 280px;
  width: 530px; 
  overflow-y: scroll;
  scroll-snap-type: mandatory;
} */

.TitleLeft {
  /* border: 2px solid rgb(92, 47, 255); */
}

.TitleRight {
  /* border: 2px solid rgb(47, 255, 57); */
}

.TitleBottom {
  border-top: 8px solid black;
  /* border: 2px solid rgb(47, 255, 57); */
}

.TitleLeft h2,
.TitleRight h2,
.TitleBottom h2{
  margin: 10px;
  padding: 0px;
  font-size: 50px;
  font-family: 'VT323', monospace;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  /* border-radius: 6px; */
  background-color: rgb(75, 75, 75);
  /* border: solid 2px black; */
}

::-webkit-scrollbar-thumb {
  /* border-radius: 6px; */
  /* border: solid 2px black; */
  background-color: #005ba6;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #004e8d;
}

::-webkit-resizer {
  background: transparent url(https://elcssar.com/ejemplos/expandIcon.png) no-repeat -1px -1px;
}

::-webkit-resizer {
  background: transparent url(https://elcssar.com/ejemplos/expandIcon.png) no-repeat -1px -1px;
}


@media screen and (max-width: 768px) {
  .Hero {
    padding-bottom: 100px;
  }
  .HeroImage {
    z-index: -1;
    position: fixed;
    width: 100%;
    left: 0px;
    padding-right: 0px;
    opacity: 0.3;
  }
  
  .HeroAllText {
    flex-direction: column;
    /* background-color: #0000003f; */
  }
  .ScrollerLeft,
  .ScrollerRight,
  .ScrollerBottom {
    height: 340px;

}

.HeroTextLeft,
.HeroTextRight,
.HeroTextBottom {
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 0px;
  background-color: #0000003f;
}
}



@media screen and (max-width: 425px) {
  .Hero {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .HeroImage {
    margin-top: 20vh;
  }
  .HeroZoneText {
    display: flex;
    flex-direction: column;
  }
  .TitleBottom {
    border-top: 2px solid black;
    margin-top: 50px;
  }
  .TitleRight {
    border-top: 2px solid black;
    margin-top: 50px;
  }
  .HeroTextLeft {
    border-right: 0px solid black;
    overflow-x: hidden;
  }
  .HeroTextRight {
    overflow-x: hidden;
  }
  .HeroTextBottom {
    overflow-x: hidden;
    margin-bottom: 100px;
  }
  .HeroTextLeft p,
  .HeroTextRight p,
  .HeroTextBottom p {
    font-size: 30px;
  }
}